data-engineering-zoomcamp-dimi/01-docker-terraform/terrademo/keys/my-creds.json
data-engineering-zoomcamp-dimi/02-workflow-orchestration/mage-zoomcamp/mydezoomcamp2024-0f0639fb35bf.json
# deleted this: data-engineering-zoomcamp-dimi/03-data-warehouse/data-warehouse-zoomcamp/mydezoomcamp2024-25ec95b1fde3.json
data-engineering-zoomcamp-dimi/03-data-warehouse/data-warehouse-zoomcamp/mydezoomcamp2024-0ab86610166c.json

.DS_Store
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**__pycache__/
.history
**/ny_taxi_postgres_data/*
serving_dir
.ipynb_checkpoints/
!week_6_stream_processing/avro_example/data/rides.csv